@use '../abstracts';

.banner_img {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: abstracts.$primary-color;
  border-radius: 16px;
  min-height: 320px;


  .banner_btns {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
  }
}

.img_btns {
  align-items: flex-end;
}

.btns_img  {
  align-items: flex-start;
}

.project_container {
  display: grid;
  gap: 48px;
  width: 100%;
}

.project {
  .fullPokeApp {
    background-image: url("../../../public/src/assets/images/fullPokeApp_banner_img_small.svg");
    background-color: abstracts.$bg_fullPokeApp;
  }
  
  .groma-Snake {
    background-image: url("../../../public/src/assets/images/gromaSnake_banner_img_small.svg");
    background-color: abstracts.$bg_groma-snake;
  }
  
  .funFace {
    background-image: url("../../../public/src/assets/images/funFace_banner_img_small.svg");
    background-color: abstracts.$bg_funFace;
  }
  
  .robopage {
    background-image: url("../../../public/src/assets/images/roboPage_banner_img_small.svg");
    background-color: abstracts.$bg_roboPage;
  }

  .groma-Snake, .robopage, .funFace {
    margin-top: 16px;
  }
  .groma-Snake, .robopage {
    background-repeat: no-repeat;
    background-position: left 30% center;
  }
  
  .fullPokeApp,.funFace {
    background-repeat: no-repeat;
    background-position: right 30% center;
  }
}

.about_projects {
  .fullPokeApp {
    background-image: url("../../../public/src/assets/images/fullPokeApp_banner_img_small.svg");
  }
  
  .groma-Snake {
    background-image: url("../../../public/src/assets/images/gromaSnake_banner_img_small.svg");
  }
  
  .funFace {
    background-image: url("../../../public/src/assets/images/funFace_banner_img_small.svg");
  }
  
  .robopage {
    background-image: url("../../../public/src/assets/images/roboPage_banner_img_small.svg");
  }
  
  .groma-Snake, .robopage {
    background-repeat: no-repeat;
    background-position: left 30% center;
    background-color: transparent;
  }
  
  .fullPokeApp,.funFace {
    background-repeat: no-repeat;
    background-position: right 30% center;
    background-color: transparent;
  }
}


@media (min-width: abstracts.$layout_breakpoint_medium) {
  .banner_img {
    height: 500px;
  }

  .project_container {
    gap: 64px;
  }

  .project {
    .fullPokeApp {
      background-image: url("../../../public/src/assets/images/fullPokeApp_banner_img_medium.svg");
      background-color: abstracts.$bg_fullPokeApp;
    }
  
    .groma-Snake {
      background-image: url("../../../public/src/assets/images/gromaSnake_banner_img_medium.svg");
      background-color: abstracts.$bg_groma-snake;
    }
    
    .funFace {
      background-image: url("../../../public/src/assets/images/funFace_banner_img_medium.svg");
      background-color: abstracts.$bg_funFace;
    }
    
    .robopage {
      background-image: url("../../../public/src/assets/images/roboPage_banner_img_medium.svg");
      background-color: abstracts.$bg_roboPage;
    }

    .groma-Snake, .robopage {
      background-repeat: no-repeat;
      background-position: left 20% center;
    }
    
    .fullPokeApp,.funFace {
      background-repeat: no-repeat;
      background-position: right 20% center;
    }
  }

  .about_content {

    .about_projects {
      .fullPokeApp {
        background-image: url("../../../public/src/assets/images/fullPokeApp_banner_img_medium.svg");
      }
      
      .groma-Snake {
        background-image: url("../../../public/src/assets/images/gromaSnake_banner_img_medium.svg");
      }
      
      .funFace {
        background-image: url("../../../public/src/assets/images/funFace_banner_img_medium.svg");
      }
      
      .robopage {
        background-image: url("../../../public/src/assets/images/roboPage_banner_img_medium.svg");
      }

      .groma-Snake, .robopage {
        background-repeat: no-repeat;
        background-position: left 20% center;
        background-color: transparent;
      }
      
      .fullPokeApp,.funFace {
        background-repeat: no-repeat;
        background-position: right 20% center;
        background-color: transparent;
      }
    }
  }
}

@media (min-width: abstracts.$layout_breakpoint_expanded) {
  .banner_img {
    height: 600px;
  }
  
  .project {
    .fullPokeApp {
      background-image: url("../../../public/src/assets/images/fullPokeApp_banner_img_expanded.svg");
      background-color: abstracts.$bg_fullPokeApp;
    }
    
    .groma-Snake {
      background-image: url("../../../public/src/assets/images/gromaSnake_banner_img_expanded.svg");
      background-color: abstracts.$bg_groma-snake;
    }
    
    .funFace {
      background-image: url("../../../public/src/assets/images/funFace_banner_img_expanded.svg");
      background-color: abstracts.$bg_funFace;
    }
    
    .robopage {
      background-image: url("../../../public/src/assets/images/roboPage_banner_img_expanded.svg");
      background-color: abstracts.$bg_roboPage;
    }
    
    .groma-Snake, .robopage {
      background-repeat: no-repeat;
      background-position: center;
    }
    
    .fullPokeApp,.funFace {
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  
  .about_content {
    .about_projects {
      max-width: 850px;
      
      .btns_img, .img_btns {
        .banner_btns {
          padding: 0;
        }
      }
      .fullPokeApp {
        background-image: url("../../../public/src/assets/images/fullPokeApp_banner_img_expanded.svg");
      }
      
      .groma-Snake {
        background-image: url("../../../public/src/assets/images/gromaSnake_banner_img_expanded.svg");
      }
      
      .funFace {
        background-image: url("../../../public/src/assets/images/funFace_banner_img_expanded.svg");
      }
      
      .robopage {
        background-image: url("../../../public/src/assets/images/roboPage_banner_img_expanded.svg");
      }
      
      .groma-Snake, .robopage {
        background-repeat: no-repeat;
        background-position: center;
        background-color: transparent;
      }
      
      .fullPokeApp,.funFace {
        background-repeat: no-repeat;
        background-position: center;
        background-color: transparent;
      }
    }
  }

  .banner_btns {
    .banner_btn {
      font-size: 14px;
      height: 80px;
      width: 110px;

      svg {
        font-size: 32px;
      }
    }
  }
}