@use '../abstracts';

.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px;

  border-radius: 16px;
  color: abstracts.$primary-color;
  font-size: abstracts.$btn_small;
  font-weight: abstracts.$medium;
  height: 3.75rem;
  width: 5rem;
   
  svg {
    color: abstracts.$primary-color;
    font-size: 24px;
  }
}

.banner_btns {
  .btn {
    text-decoration: none;
    background-color: abstracts.$btns_bg_light;
    border: none;
  }
  
  .btn:hover,
  .btn:focus {
    border: solid 2px abstracts.$primary_variant-light;
    
    svg {
      color: abstracts.$secondary-color;
    }
  }
}

.about_content {
  .btn {
    text-decoration: none;
    background-color: abstracts.$background-color;
    border: solid 2px abstracts.$primary-color;
  }
  
  .btn:hover,
  .btn:focus {
    border: solid 2px abstracts.$primary_variant-light;
    
    svg {
      color: abstracts.$secondary-color;
    }
  }
}

.go_Up {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  border: solid 1px #1E7B9D;
  color: #1E7B9D;
  font-size: 24px;
  height: 64px;
  justify-self: right;
  margin-right: 16px;
  width: 64px;
}

.go_Up:hover,
.go_Up:focus {
  background-color: #E6F5F0;
  color: #F09D20;
  border-color: #24C2AF;
}

@media (min-width: abstracts.$layout_breakpoint_medium) {
  .btn {
    font-size: abstracts.$btn_medium;
    height: 5rem;
    width: 6.875rem;

    svg {
      font-size: 32px;
    }
  }
}