@use '../abstracts';

.navBar {
  @include abstracts.flex( $direction: row, $align-Items: center, $justify-content: space-between );
  position: sticky;
  top: 16px;

  background-color: abstracts.$font_light;
  border-radius: 16px;
  height: 80px;
  z-index: 1000;

  .navBar_logo {
    min-width: 200px;
    width: 200px;
  }

  .burguer_menu {
    background-color: transparent;
    border: none;
    height: 56px;
    width: 56px;
    margin-right: 16px;
    padding: 16px;
  } 

  .dropdown {
    display: none;
  }

  .menu {
    align-items: end;
    background-color: #ffffff;
    border-radius: 16px;
    display: flex;
    flex-direction: column-reverse;
    gap: 16px;
    padding: 24px 16px;
    position: absolute;
    right: 0;
    top: 96px;

    ul.dropdown_links {
      display: flex;
      flex-direction: column;
      gap: 24px;
      list-style: none;

      li a {
        color: abstracts.$primary-color;
        font-size: 18px;
        text-decoration: none;
        padding: 8px;
      }
    }
  }

  .active {
    background-color: abstracts.$primary_variant-light;
    border-radius: 8px;
    font-weight: bold;
    padding: 8px;
  }
  
  .navBar_lang {
    align-items: center;
    display: flex;
    gap: 8px;
    height: 100%;
    justify-content: center;
    margin: 1px 0;
    
    .lang_img {
      max-height: 32px;
      max-width: 32px;
    }
    
    .lang_selector {
      border: solid 1px abstracts.$primary_variant-light;
      border-radius: 8px;
      color: abstracts.$primary-color;
      font-size: 18px;
    }
  }
  
  .burguer_menu:focus .icon {
    color: abstracts.$secondary-color;
  }

  .active:focus {
    border: solid 2px abstracts.$secondary-color;
  }

  .dropdown_links a:not(.active):focus  {
    color: abstracts.$secondary-color;
  }
  
  .lang_selector:focus {
    border: solid 2px abstracts.$secondary-color;
  }
}

@media (min-width: abstracts.$layout_breakpoint_medium) {
  .navBar {

    .burguer_menu {
      display: none;
    }

    .dropdown {
      display: flex;
      flex-direction: row;
      gap: 24px;
      align-items: center;
      position: absolute;
      top: 0;
      right: 16px;

      height: 100%;
      
      ul.dropdown_links {
        display: flex;
        flex-direction: row;
        gap: 16px;
        list-style: none;
  
        li, a {
          text-decoration: none;
        }
      }
    }
  }
}

@media (min-width: abstracts.$layout_breakpoint_expanded) {
  .navBar {

    .dropdown {
      gap: 48px;

      .active:hover {
        color: abstracts.$primary_variant-dark;
        border: solid 2px abstracts.$secondary-color;
      }
    
      .dropdown_links a:not(.active):hover  {
        color: abstracts.$secondary-color;
      }
    }
  }
}