@use '../abstracts';

.profile {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 16px;

  padding: 16px 8px;
  width: 100%;

  .profile_photo {
    border-radius: 50%;
    width: 120px;
  }

  .profile_text {
    text-align: center;
    width: min(60%, 400px);
    
      .profile_name {
        color: abstracts.$primary-color;
        font-size: abstracts.$subtitle_small;
      }
      .profile_professions {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 8px;
      }
  }

  .profile_greeting {
    width: 250px;
  }
}

@media (min-width: abstracts.$layout_breakpoint_medium) {
  .profile {
    .profile_photo {
      width: 144px;
    }
    .profile_text {
      .profile_name {
        font-size: abstracts.$subtitle_medium;
      }
  
      .profile_professions {
        p {
          font-size: abstracts.$body_medium;
        }
      }
    }
  }
}

@media (min-width: abstracts.$layout_breakpoint_expanded) {
  .profile {
    .profile_photo {
      width: 168px;
    }

    .profile_greeting {
      width: 300px;
    }
  }
}