@use '../abstracts';

.rrss {
  display: grid;
  grid-template-columns: repeat(3, minmax(40px, 56px));
  justify-content: center;
  gap: 24px;

  .rrss_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    height: 56px;
    width: 56px;

    a {
      font-size: 0;
    }
  }

  .rrss_btn:hover .icon {
    transform: scale(1.1);
    color: abstracts.$secondary-color;
  }

  .rrss:hover {
    background-color: abstracts.$secondary-color;
  }

   .rrss_btn:focus {
    border: solid 2px abstracts.$primary_variant-light;
  }
  
  .rrss_btn:focus .icon {
    color: abstracts.$secondary-color;
  }
}

.contact_icons {
  .rrss_btn  {
    background-color: abstracts.$primary-color;
    color: abstracts.$icon-light;
    border-radius: 50%;
    
    .icon {
      color: white;
    }
  }

  .rrss_btn:hover {
    background-color: abstracts.$secondary-color;
  }
  .rrss_btn:hover .icon {
    color: abstracts.$icon-light;
  }

  .rrss_btn:focus {
    background-color: transparent;
    border: solid 2px abstracts.$primary_variant-light;
  }
  .rrss_btn:focus .icon {
    color: abstracts.$secondary-color;
  }
}

.contact {
  .rrss {
    .rrss_btn {
      background-color: abstracts.$primary-color;
      border-radius: 50%;
      height: 40px;
      width: 40px;

      .icon {
        font-size: 20px;
      }
    }

    .rrss_btn:hover {
      background-color: abstracts.$secondary-color;

      .icon {
        color: abstracts.$icon-light;
      }
    }

    .rrss_btn:focus {
      background-color: transparent;
      border: solid 2px abstracts.$primary-color;
      outline-color: abstracts.$secondary-color;

      .icon {
        color: abstracts.$icon-light;
      }
    }
  }
}