@use '../abstracts';

.project_desc {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0 16px;

  .desc_func {
    ul {
      padding-left: 32px;
    }
  }

  .desc_authors {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    .dev {
      color: abstracts.$primary-color;
      font-size: abstracts.$subtitle_small;
      font-weight: abstracts.$light;
    }
    
    .authors {
      color: abstracts.$font_neutral;
      font-size: abstracts.$subtitle_small;
      font-weight: abstracts.$light;
    } 
  }
}

.about_content {
  .academic_studies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
  }
  
  .academic_titles {
    max-width: 800px;
    width: 100%;
  }
  .academic_title {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    a {
      text-decoration: none;
    }
    
    p {
      color: abstracts.$font_neutral;
    }

    .study {
      display: flex;
      gap: 8px;
  
      p.study_title {
        font-size: abstracts.$subtitle_small;
        font-weight: abstracts.$bold;
        color: abstracts.$secondary-color;
      }
      .academic_divisor {
        font-size: abstracts.$subtitle_small;
        font-weight: abstracts.$bold;
        color: abstracts.$primary-color;
      }
      .study_date {
        font-size: abstracts.$subtitle_small;
        font-weight: abstracts.$bold;
        color: abstracts.$primary_variant-light;
      }
    }
  }
}

@media (min-width: abstracts.$layout_breakpoint_medium) {
  .project {
    .project_desc {
      gap: 32px;
      padding: 0 24px;
      
      p {
        font-size: abstracts.$body_medium;
      }
      
      .desc_func {
        ul li {
          font-size: abstracts.$body_medium;
        }
      }
    
      .desc_authors {
        display: flex;
        gap: 8px;
    
        .dev {
          font-size: abstracts.$subtitle_medium;
        }
        
        .authors {
          font-size: abstracts.$subtitle_medium;
        } 
      }
    }
  }
}

@media (min-width: abstracts.$layout_breakpoint_expanded) {
  .project {
    .project_desc {
      gap: 64px;
      padding: 0;
    }
  }

  .banner_desc {
    grid-template-columns: auto 288px;
    align-items: center;
  }

  .desc_banner {
    grid-template-columns: 288px auto;
    align-items: center;

    .project_desc {
      grid-column: 1/2;
      grid-row: 1;
      justify-self: right;
    }

    .project_banner {
      grid-column: 2/3;
    }

  }
}