@use '../abstracts';

.about_content {
  display: grid;
  justify-items: center;
  gap: 48px;

  h1 {
    color: abstracts.$secondary-color;
  }

  .about_projects {
    display: flex;
    flex-direction: column;
    gap: 64px;
    width: 100%;

    .project_banner {
      h1 {
        text-align: center;
      }
    }
    .btn {
      background-color: abstracts.$background-color;
    }
  }

  .languages_tools {
    display: grid;
    grid-template-columns: repeat(4, minmax(85px, 1fr));
    justify-items: center;
    row-gap: 16px;

    .tools {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 4px;
      text-align: center;
    }
  }

  .academic_titles {
    display: grid;
    gap: 32px;
  }
}

@media (min-width: abstracts.$layout_breakpoint_medium) {
  .about_content {
    gap: 64px;
  }

  .languages_tools {
    grid-gap: 24px 16px;
  }
}

@media (min-width: abstracts.$layout_breakpoint_expanded) {
  .languages_tools {
    grid-gap: 32px 24px;
  }
}