@use '../abstracts';

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  width: 100%;
  max-width: 1120px;
  justify-self: center;
  
  .project {
    display: grid;
    gap: 24px;
    width: 100%;
  }
}

@media (min-width: abstracts.$layout_breakpoint_medium) {
  .projects {
    .project {
      gap: 32px;
    }
  }
}