// Colors system
$primary-color: #1E7B9D;
$primary_variant-dark: #008B8B;
$primary_variant-light: #24C2AF;
$secondary-color: #F09D20;

// Body
$background-color: #FFF6F1;

// Fonts
$font_light: #ffffff;
$font_neutral: #767b7c;

//Icons
$icon-light: #F2F2F2;
$icon-neutral-bg: #717F85;

// Buttons
$btns_bg_light: #FCFFFF;

// Divisor
$divisor-color: #f7e0d3;

// Banners
$bg_fullPokeApp: #c39e0d;
$bg_groma-snake: #1FBBBA;
$bg_funFace: #df948b;
$bg_roboPage: #97ccfef6;

// Section_title
$orange: #FEF1E5;
$aqua: #E6F5F0;