@use './colors';

$body_small: 16px;
$body_medium: 18px;

$headline_small: 32px;
$headline_medium: 36px;

$subtitle_small: 18px;
$subtitle_medium: 20px;

$btn_small: 12px;
$btn_medium: 14px;

$light: 300;
$medium: 500;
$bold: 700;