@use './colors';   
@use './fonts'; 
@use './layouts';  
@use './mixin';
@import url('https://fonts.googleapis.com/css2?family=Krub:wght@400;500;700&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline-offset: 4px;
  outline-color: colors.$primary-color;
}

body {
  background-color: colors.$background-color;
}

img {
  display: block;
  max-width: 100%;
}

input, textarea, button, select {
  font: inherit;
}

h1, h2 {
  margin-bottom: 8px;
  color: colors.$primary-color;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 20px;
}

p, li, a {
  font-size: fonts.$body_small;
}

.icon {
  color: colors.$primary-color;
  font-size: 24px;
}

.hidden {
  display: none;
}

.divisor {
  display: block;
  border: 2px solid #f7e0d3;
  border-radius: 16px;
  width: 100%;
  margin-bottom: 16px;
}

#root {
  @include mixin.grid;
  padding: 32px 16px 16px;
  font-family: 'Krub', sans-serif;
  font-size: 62.5%;
  margin: auto;
  min-width: 300px;
}

@media (min-width: layouts.$layout_breakpoint_medium) {
  #root {
    padding: 48px 32px 32px;
  }
}